@font-face {
  font-family: "Matter";
  src: local("Matter"), url(../assets/Matter.ttf) format("ttf");
}

div {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  border-radius: 15px;
  padding: 0.5rem 2.8rem 0.5rem 2.8rem;
  background-color: #39993a;
  color: white;
  border: 0.5px solid #000000;
  font-size: 1.1rem;
}

.secrets {
  display: flex;
  max-width: 85%;
}

button:hover {
  background-color: white; /* Green */
  color: #39993a;
  cursor: pointer;
}

.walletItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spacer {
  width: 0.25rem;
}

.extraInfo {
  cursor: pointer;
  text-decoration: underline;
}

.historyDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pepeDiv {
  position: absolute;
  left: 5rem;
  transform: rotate(random(300) + deg);
  z-index: 0;
}

.pepeDiv2 {
  position: absolute;
  right: 5rem;
  transform: rotate(random(300) + deg);
  z-index: 0;
}
.pepeDivMobile {
  transform: rotate(random(300) + deg);
  margin-top: 2rem;
  z-index: 0;
}

.clickable {
  cursor: pointer;
}

p {
  font-size: 0.89rem !important;
  text-align: center;
  word-break: break-word;
}

.wordBreak {
  word-break: break-all;
}
$rotation: var(--transform);

.main {
  aspect-ratio: 10/3;
  height: 100vh !important;
}

.centerP {
  text-align: center;
}

.balance {
  color: red;
}

.balancefound {
  color: green;
}
